@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model BookLibraryRepoPetternCore.Book
@{
    ViewData["Title"] = Model != null && Model.Id ==0 ? "Create Book" :"Edit Book";
}
<form method="post" action="CreateOrEdit">
    <div class="card">
        <div class="card-header align-content-center bg-info">
            <h2 class="text-center">@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
           <input type="hidden" for="Id"/>

         </div>
        <div class="form-floating mb-2">
            <input for="Title" class="form-control">
            <label for="Title">Title</label>
            <span validation-for="Title"></span>
        </div>

        <div class="form-floating mb-2">
            <input for="Author" class="form-control">
            <label for="Author">Author</label>
            <span validation-for="Author"></span>
        </div>

        <div class="form-floating mb-2">
            <input for="Genre" class="form-control">
            <label for="Genre">Genre</label>
            <span validation-for="Genre"></span>
        </div>

        <div class="form-floating mb-2">
            <span validation-for="Description">Description</span>
            <input for="Description" class="form-control">
            <label for="Description"></label>
            
        </div>

        @if(Model != null && Model.Id == 0){
            <div class="col-lg-12 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
        else
        {
            <div class="col-lg-12 d-grid">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        }


        
 </div>
</form>


