@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<BookLibraryRepoPetternCore.Book>
@{
    ViewData["Title"] = "Dahmylarey Book Library";
}


<h1>@ViewData["Title"]</h1><br /><br />





@*<footer class="site-footer aline-items-center justify-content-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-10 me-auto mb-4">
                <h4 class="text-white mb-3"><a asp-action="Index" asp-controller="Home">Drey Books Store</a></h4>
                <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong>Drey Books Store</strong></p>
                <br>
                <p class="copyright-text">Designed by Dahmylarey</p>
            </div>


        </div>
    </div>
</footer>*@




