@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<BookLibraryRepoPetternCore.Book>
@{
    Layout = "_Layout";
}

<section class="slick-slideshow">
    <div class="slick-custom">
        <img src="images/slideshow/medium-shot-business-women-high-five.jpeg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Cool Books</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">full Of Suspense</p>

                        <a asp-area="" asp-controller="Book" asp-action="Index" class="btn custom-btn">See BookLists</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="images/slideshow/team-meeting-renewable-energy-project.jpeg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">New Books</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Popular Authors.</p>


                        <a asp-area="" asp-controller="Book" asp-action="Index" class="btn custom-btn">Explore BookLists</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="images/slideshow/two-business-partners-working-together-office-computer.jpeg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Want to Join us?</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Be part Of Family Of best Authors.</p>



                        <a asp-area="" asp-controller="Book" asp-action="Index" class="btn custom-btn">Create Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="about section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-5">Get started with <span>Drey Book</span> Store</h2>
            </div>

           

            <div class="col-lg-10 col-12">
                <div class="tab-content mt-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <img src="images/pim-chu-z6NZ76_UTDI-unsplash.jpeg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Good <span>Reading</span> <br>Experience <span>that will</span> Get you Hooked</h4>

                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officiis accusamus iste quae eaque, quibusdam vitae eum facere quas sapiente! Repudiandae modi tempore eligendi omnis at reiciendis eaque quis explicabo!</p>


                                    <a asp-area="" asp-controller="Book" asp-action="Index" class="btn btn-1 text-primary">Explore Book Collections.</a>
                                                                                                            
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="ratio ratio-16x9">
                                    <iframe src="https://www.youtube-nocookie.com/embed/f_7JqPDWhfw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Life at Studio</h4>

                                    <p>Over three years in business, We’ve had the chance to work on a variety of projects, with companies</p>

                                    <p>Custom work is branding, web design, UI/UX design</p>

                                    <div class="mt-2 mt-lg-auto">
                                        <a href="contact.html" class="custom-link mb-2">
                                            Work with us
                                            <i class="bi-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <img src="images/cody-lannom-G95AReIh_Ko-unsplash.jpeg" class="img-fluid" alt="">
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
